# ====================
# 编译输出目录
# ====================
bin/
obj/
out/

# ====================
# Visual Studio
# ====================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log

# ====================
# VS Code
# ====================
.vscode/
*.code-workspace

# ====================
# 临时文件
# ====================
*.tmp
*.temp
__pycache__
*.pyc
*.bak
*.db
*~
.gitignore
* - 副本*
.pytest_cache/
